/*###########DEFAULTS###########*/

nav, 
header, 
footer{
    display: block;
}

body{
    line-height: 1;
    margin: 0;
    font-family: 'FuenteF1';
}

h1, h2, h3, label,p{
    font-family: 'FuenteF1';
}


.container{ 
    width: 100%;
    display: grid;
    grid-auto-flow: dense;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
}

div.box{
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 15px;
    padding: 0;
    text-align: center;
}

div.intro{
    width: 100%;
    display: grid;
    grid-auto-flow: dense;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
}

div.box:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

div.box:after {
    content: "";
    display: table;
    clear: both;
}

.columna {
    float: left;
    width: 50%;
    align-content: left;
    align-items: left;
}


footer{
    background-color: gray;
}

footer div.container div{
    margin: 25px;
    text-align: center;
}

footer ul{
    list-style: none;
    text-align: left;
    padding-left: 0;
    text-align: center;
}


footer ul li{
    line-height: 25px;
}

/*##########NAV BAR############*/

nav{
    width: 100%;
    margin: 0;
}

nav ul{
    background-color:lightgray;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

ul.topnav li{
    list-style: none;
    float: left;
}

ul.topnav li.topnav-right{
    float: right;
}

ul.topnav li a{
    display: block;
    text-decoration: none;
    min-height: 16px;
    text-align: center;
    padding: 14px;
    text-transform: uppercase;
    color: black;
    font-family: 'FuenteF1';
}

ul.topnav li a:hover{
    background-color: dimgrey;
    color: white;
}

ul.topnav li.dropdownicon{
    display: none;
}

/*##########BODY################*/
div.titlecontainer{
    padding-left: 25%;
    background-color: #e70000;
    vertical-align: middle;
}


div.titlecontainer h1{
    color: white;
    font-size: 38px;
    vertical-align: middle;
}

div.titlecontainer h2{
    color: whitesmoke;
}

div.containerSeleccion {
  text-align: center;
}

div.formSeleccion {
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;
}

input{
    min-height: 25px;
    min-width: 200px;
    font-size: 15px;
}
input.EditarDatos{
	background-color: dimgray;
    	color: white;
}

button.submitbutton{
    min-height: 20px;
    min-width: 100px;
    border-radius: 6px;
    font-size: 13px;
    color: white;
    background-color: grey;
}

div.videocontainer{
    text-align: center;
    padding: 2%;
    background-color: #e70000;
}

h1.galerytitle{
    font-size: 45px;
    text-align: center;
}


h2.galeria{
	font-size:30px;
}


div.boxCentrado{
    background-color: white;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.35),
        0 2px 3px 0 rgba(0,0,0,0.2);
    border-radius: 6px;
    margin: auto;
    margin-top: 10%;
    width: 50%;
    padding: 15px;
    text-align: center;
}

body.bg{
    background-color: firebrick;
}

img.imagenCarro{
  max-width: 50%;
}

label{
    font-size: 35px;
    font-weight: 500;
}

p{
    text-align: left;
    padding: 10px;
    font-size:17.5px
}

p.galeria{
	font-size:25px;
	text-align:center;
	color: dimgray;
}

div.boxCentradoSobreImagen{
    background-color: rgba(255,255,255,0.45);
    box-shadow: 0 0 0 1px rgba(0,0,0,.5),
        0 2px 3px 0 rgba(0,0,0,0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

a{
  text-decoration: none;
  color: black;
}



/*###########MOVIL#############*/
@media screen and (max-width:680px){
    ul.topnav li:not(:nth-child(1)){
        display: none;
    }
    
    ul.topnav li.dropdownicon{
        display: block;
        float: right;
    }
    
    ul.topnav.responsive li.dropdownicon{
        position: absolute;
        top: 0;
        right: 0;
    }
    
    ul.topnav.responsive{
        position: relative;
    }
    
    ul.topnav.responsive li{
        display: inline;
        float: none;
    }
    
    ul.topnav.responsive li a{
        display: block;
        text-align: left;
    }
    
}

@font-face {
    font-family: 'FuenteF1'; /*a name to be used later*/
    src: url('../fonts/Formula1-Regular.ttf'); /*URL to font*/
}
